@model InventorySite.Models.Computer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InstallDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InstallDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ComputerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
