<!DOCTYPE html>
<html lang="@UICulture" xml:lang="@UICulture">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inventory Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header2">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Inventory Management", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("List of computers", "Index", "Computers")</li>
                    <li>@Html.ActionLink("List of hard drives", "Index", "Harddrives")</li>
                    <li>@Html.ActionLink("List of motherboards", "Index", "Motherboards")</li>
                    <li>@Html.ActionLink("List of operating systems", "Index", "OperatingSystems")</li>
                    <li>@Html.ActionLink("List of processors", "Index", "Processors")</li>
                    <li>@Html.ActionLink("List of RAM", "Index", "RAMs")</li>
                </ul>
                <div class="login">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div id="left">
                &copy; @DateTime.Now.Year - Inventory Application
            </div>
            <div id="right">
                @Html.ActionLink("About &", "About", "Home")
                @Html.ActionLink("Contact", "Contact", "Home")
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/slideshow")
</body>
</html>
