@model InventorySite.Models.Motherboard

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h class="h31">Motherboard</h>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDisplayPorts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDisplayPorts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMemoryPorts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMemoryPorts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasParallelPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasParallelPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Computer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computer.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
