@model InventorySite.Models.Motherboard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h class="h31">Motherboard</h>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfDisplayPorts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfDisplayPorts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfMemoryPorts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfMemoryPorts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasParallelPort)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasParallelPort)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Computer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Computer.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MotherboardID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
